<div class="flex flex-wrap items-center justify-between bg-gradient-to-r from-blue-400 via-white-500 to-red-400 text-white py-2 sticky w-full top-0">
    <div class="px-2">
        <p class="text-3xl font-stretch-condensed font-bold hover:opacity-90">
            <a routerLink="">🇫🇷 Le Blog Français de Kunal</a>
        </p>
    </div>
    <nav class="mt-2 sm:mt-0">
        <ul class="flex flex-row items-center space-x-1 text-left justify-around">
            <li class="px-2 hover:opacity-90">
                <a routerLink="/blog">
                    <span class="text-lg">Blog</span>
                </a>
            </li>
            <li class="px-2 hover:opacity-90">
                <span class="text-lg">Histoire</span>
            </li>
            <li class="px-2 hover:opacity-90">
                <span class="text-lg">Données</span>
            </li>
        </ul>
    </nav>
</div>