<div class="flex flex-wrap items-center justify-between">
    <div class="px-2">
        <p class="text-3xl font-bold">
            <a href="">Le Blog Français de Kunal</a>
        </p>
    </div>
    <nav>
        <ul class="flex flex-row items-center justify-baseline gap-x-1">
            <li class="px-2">
                <a href="blog">
                    <span class="text-lg">Blog</span>
                </a>
            </li>
            <li class="px-2">
                <span class="text-lg">Histoire</span>
            </li>
            <li class="px-2">
                <span class="text-lg">Données</span>
            </li>
        </ul>
    </nav>
</div>
