<div class="flex flex-wrap items-center justify-between bg-gray-700 text-white py-2">
    <div class="px-2">
        <p class="text-3xl font-bold hover:text-gray-200">
            <a routerLink="">Le Blog Français de Kunal</a>
        </p>
    </div>
    <nav class="mt-2 sm:mt-0">
        <ul class="flex flex-row items-center gap-x-1 text-left">
            <li class="px-2 hover:text-gray-200">
                <a routerLink="/blog">
                    <span class="text-lg">Blog</span>
                </a>
            </li>
            <li class="px-2 hover:text-gray-200">
                <span class="text-lg">Histoire</span>
            </li>
            <li class="px-2 hover:text-gray-200">
                <span class="text-lg">Données</span>
            </li>
        </ul>
    </nav>
</div>
