<div class="py-2">
    <ul class="flex flex-row items-center justify-around">
        <!-- <li>
            <a href="https://kjeshang.github.io/">
                <span class="font-semibold">Portefeuille Technique</span>
            </a>
        </li> -->
        <li>
            <a href="https://www.linkedin.com/in/kunaljeshang/">
                <span class="font-semibold p-1 hover:bg-gray-200 hover:rounded">LinkedIn</span>
            </a>
        </li>
        <li>
            <a href="https://github.com/kjeshang">
                <span class="font-semibold p-1 hover:bg-gray-200 hover:rounded">GitHub</span>
            </a>
        </li>
        <li>
            <a href="https://kunaljeshang.wordpress.com/">
                <span class="font-semibold p-1 hover:bg-gray-200 hover:rounded">WordPress</span>
            </a>
        </li>
    </ul>
</div>