<footer class="py-2 sticky w-full bottom-0 bg-gradient-to-r from-blue-400 via-white-500 to-red-400 text-white z-1">
    <ul class="flex flex-row items-center justify-around">
        <!-- <li>
            <a href="https://kjeshang.github.io/">
                <span class="font-semibold">Portefeuille Technique</span>
            </a>
        </li> -->
        <li>
            <a href="https://www.linkedin.com/in/kunaljeshang/">
                <span class="font-semibold p-1 hover:opacity-90 hover:rounded text-shadow-xs">LinkedIn</span>
            </a>
        </li>
        <li>
            <a href="https://github.com/kjeshang">
                <span class="font-semibold p-1 hover:opacity-90 hover:rounded text-shadow-xs">GitHub</span>
            </a>
        </li>
        <li>
            <a href="https://kunaljeshang.wordpress.com/">
                <span class="font-semibold p-1 hover:opacity-90 hover:rounded text-shadow-xs">WordPress</span>
            </a>
        </li>
    </ul>
</footer>