<p class="text-lg font-semibold">Je me presente</p>
<div class="flex flex-col space-y-2">
    <p>
        Je m'appelle Kunal Ajaykumar Jeshang, j'ai 29 ans. Je viens de Tanzanie, mais j'habite à Vancouver, au Canada. Je travaille comme développeur de logiciels à temps plein, et je suis aussi spécialiste du café à temps partiel. Pendant mon temps libre, j’aime dessiner des personnages de dessins animés, apprendre le français et découvrir de nouveaux cafés.
    </p>
    <p> 
        J’ai commencé à apprendre le français pendant l’été 2024. Au début, c’était difficile, mais avec le temps, je me suis amélioré.
    </p>
</div>
