<div class="m-2 p-2">
    <p class="text-3xl font-bold mt-2 mb-3">Je me presente</p>
    <div class="flex flex-col space-y-2">
        <p class="my-2">
            Je m'appelle Kunal Ajaykumar Jeshang, j'ai 29 ans. Je viens de Tanzanie, mais j'habite à Vancouver, au Canada. Je travaille comme développeur de logiciels à temps plein, et je suis aussi spécialiste du café à temps partiel. Pendant mon temps libre, j’aime dessiner des personnages de dessins animés, apprendre le français et découvrir de nouveaux cafés.
        </p>
        <p class="my-2"> 
            J’ai commencé à apprendre le français pendant l’été 2024. Au début, c’était difficile, mais avec le temps, je me suis amélioré. Quand j’ai commencé, j’ai suivi les cours de Yohann Coussot sur Udemy pour apprendre les bases du français. J’ai complété ses cours du niveau A1 au niveau B1. Ensuite, j’ai pratiqué les questions du TEF Canada en utilisant les livres de Raston’s. Par la suite, j’ai suivi des cours en ligne sur Lingoda pour améliorer mon expression orale.
        </p>
    </div>
</div>

