<section class="flex flex-col-reverse justify-center sm:flex-row p-6 items-center gap-4 mb-12">
    <div class="max-w-md text-2xl mt-4 text-center sm:text-left font-medium">
        J'ai construit ce site Web de sauvegarder ma progression en apprendre le
        français. Je l'ai construit aussi pour montrer quoi j'ai appris jusqu'à
        présent.
        <div class="pt-3">
            <p class="mt-4">
                <span class="font-semibold">Quel est mon objectif actuel ?</span><br />
                <span class="italic">Je voudrais <span class="underline">réussir</span> l'examen de TEF
                    Canada.</span>
            </p>
        </div>
    </div>
    <img class="sm:w-1/2 w-full rounded-full" src="purpose_image.jpg" alt="Purpose Image" />
</section>
<hr class="mx-auto bg-black w-3/4 my-4 h-3/4" />
<section class="p-6 my-12">
    <h2 class="text-4xl font-bold text-center">Expliquation</h2>
    <p class="max-w-full text-2xl mt-4 text-center sm:text-left pt-4">
        Ce site Web contient des textes que j'ai écrits pour pratiquer pour la
        section de l'expression écrite de l'examen TEF Canada. Les niveaux des
        textes sont variées de A1 à B1. Ainsi, ce site partarge ma préparation pour
        l'examen, mais sous une forme de Blog.
    </p>
</section>
<hr class="mx-auto bg-black w-3/4 my-4 h-3/4" />
<section class="p-6 my-12">
    <h2 class="text-4xl font-bold text-center">Certifications en Ligne</h2>
    <ul class="mx-auto my-12 flex flex-col sm:flex-row items-center gap-8">
        <li
            class="w-full sm:w-5/6 flex flex-col items-center border border-solid bg-white py-6 px-2 rounded-3xl shadow-xl">
            <div class="flex flex-row justify-between items-center gap-x-4 mt-2">
                <img src="busuu.webp" class="h-15 rounded-2xl border-solid border-1" />
                <p class="text-3xl text-center mt-2 align-middle">Busuu</p>
            </div>
            <ul class="flex flex-col justify-center items-center space-y-4 py-2 px-2 mt-3">
                @for(item of certifications.busuu; track $index) {
                    <li class="text-lg hover:text-slate-800">
                        <a [href]="item.link" target="_blank">{{ item.name }}</a>
                    </li>
                }
            </ul>
        </li>
        <li
            class="w-full sm:w-5/6 flex flex-col items-center border border-solid bg-white py-6 px-2 rounded-3xl shadow-xl">
            <div class="flex flex-row justify-between items-center gap-x-4 mt-2">
                <img src="udemy.png" class="h-15 rounded-2xl border-solid border-1" />
                <p class="text-3xl text-center mt-2 align-middle">Udemy</p>
            </div>
            <ul class="flex flex-col justify-center items-center space-y-3 py-2 px-2 mt-3">
                @for(item of certifications.udemy; track $index) {
                    <li class="hover:text-slate-800">
                        <a [href]="item.link" target="_blank">{{ item.name }}</a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</section>