<div class="m-2 p-2">
    <p class="text-3xl font-bold mt-2 mb-4">Mes etudes</p>
    <div class="flex flex-col space-y-2">
        <p class="my-2">
            Entre 2014 et 2018, j’ai étudié à l’Université Temple, à Philadelphie, aux États-Unis. J’ai obtenu ma licence en administration en juin 2018. C’était une période difficile pour moi, car j’avais choisi les sciences actuarielles comme spécialisation.
        </p>
        <p class="my-2">
            Entre 2020 et 2022, j’ai étudié au collège Douglas, en Colombie-Britannique, au Canada. J’ai obtenu ma licence en technologies de l’information en décembre 2022. C’était une période stressante, car je n’avais jamais fait de programmation avant de commencer cette formation.
        </p>
    </div>
</div>