<div class="m-2 p-2">
    <p class="text-3xl font-bold mt-2 mb-6 mx-2">Ma carrière dans Canada</p>
    @for(item of careerData; track $index) {
        <div class="flex flex-row space-y-2 space-x-4 mx-2 my-4">
            <div class="my-2 w-1/4">{{ item.date }}</div>
            <div class="my-2 w-3/4">
                <p class="text-lg font-bold pb-1">{{ item.position }}</p>
                <p class="font-semibold">{{ item.company }}</p>
                <p class="italic text-slate-800">{{ item.location }}</p>
            </div>
        </div>
    }
</div>
