/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

// #region Global Styling
html, body {
    width: 100%;
    max-width: 100%;
}

// #endregion Global Styling

// #region Markdown Styling

.markdown {
    width: 100%;
    height: min-content;
    margin: 0;
    padding: 0;
}

.markdown h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: clamp(25px, 3vw, 3rem);
}

.markdown h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
    font-size: clamp(18px, 2vw, 1.5rem);
}

.markdown blockquote p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: clamp(18px, 2vw, 1.5rem);
    text-transform: uppercase;
}

.markdown p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: clamp(18px, 1rem, 1.2rem);
}

.markdown p strong {
    font-size: clamp(18px, 1.2rem, 1.4rem);
}

.markdown ul {
    margin: 20px;
}

.markdown ul li {
    list-style-type: circle;
}

// #endregion Markdown Styling