<app-feature-container>
    <div class="flex flex-row flex-wrap items-center justify-center space-x-2 py-2">
        <div class="grid grid-cols-3 sm:w-1/18 w-1/6">
            <div class="bg-blue-500 h-10"></div>
            <div class="bg-gray-200 h-10"></div>
            <div class="bg-red-500 h-10"></div>
        </div>
        <p class="sm:text-5xl text-2xl font-bold">Bienvenue Tout le Monde !</p>
    </div>
    <main class="max-w-4xl mx-auto">
        <section class="flex flex-col-reverse justify-center sm:flex-row p-6 items-center gap-4 mb-12">
            <div class="max-w-md text-2xl mt-4 text-center sm:text-left font-medium">
                J'ai construit ce site Web de sauvegarder ma progression en apprendre le français. Je l'ai construit aussi pour montrer quoi j'ai appris jusqu'à présent.
                <br />
                <p class="mt-4"><span class="font-semibold">Quel est mon objectif actuel ?</span><br /> 
                <span class="italic">Je voudrais réussir l'examen de TEF Canada.</span>
                </p>
            </div>
            <img class="sm:w-1/2 w-full rounded-full" src="purpose_image.jpg" alt="Purpose Image" />
        </section>
        <hr class="mx-auto bg-black w-3/4 my-4 h-3/4" />
        <section class="p-6 my-12">
            <h2 class="text-4xl font-bold text-center">Expliquation</h2>
            <p class="max-w-full text-2xl mt-4 text-center sm:text-left">Ce site Web contient des textes que j'ai écrits pour pratiquer pour la section de l'expression écrite de l'examen TEF Canada. Les niveaux des textes sont variées de A1 à B1. Ainsi, ce site partarge ma préparation pour l'examen, mais mais sous forme de Blog.</p>
        </section>
        <hr class="mx-auto bg-black w-3/4 my-4 h-3/4" />
        <section class="p-6 my-12">
            <h2 class="text-4xl font-bold text-center">Certifications</h2>
        </section>
    </main>
</app-feature-container>